<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Admin panel</title>
    <style>
        [readonly] {
            background-color: #e9ecef
        }
    </style>
</head>

<body>

<header>

    <!-- Topbar  -->
    <div th:replace="fragments/general :: top-bar"></div>

</header>

<main class="mt-5">

    <div class="container-fluid">
        <div class="row">

            <!-- Sidebar -->
            <div th:replace="fragments/general :: side-bar"></div>

            <!-- Main content -->
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 offset-lg-2">
                <div class="pt-3">
                    <h1>Admin panel</h1>

                    <!-- Tab navigation -->
                    <div th:replace="fragments/general :: nav-tabs"></div>

                    <!-- Tab content -->
                    <div class="tab-content" id="myTabContent">

                        <!-- Users table tab -->
                        <div class="tab-pane fade show active"
                             id="users-table" role="tabpanel" aria-labelledby="users-table-tab">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h4>All users</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr class="border-top border-bottom border-secondary">
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Roles</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${users}">
                                                <td class="user-id" th:text="${user.id}">ID</td>
                                                <td class="user-first-name" th:text="${user.firstName}">First Name</td>
                                                <td class="user-last-name" th:text="${user.lastName}">Last Name</td>
                                                <td class="user-age" th:text="${user.age}">Age</td>
                                                <td class="user-email" th:text="${user.email}">Email</td>
                                                <input class="user-password" type="hidden" th:value="${user.password}"/>
                                                <td>
                                                    <span class="user-roles" th:each="role : ${user.roles}">
                                                        <span th:text="${#strings.startsWith(role.name, 'ROLE_') ? #strings.substring(role.name, 5)
                                                                                                                 : role.name}">
                                                            Role
                                                        </span>
                                                    </span>
                                                </td>
                                                <td>

                                                    <!-- Update button -->
                                                    <button type="button" class="btn btn-primary btn-sm edit-btn" data-bs-toggle="modal" data-bs-target="#upd-user-modal">
                                                        Update
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm delete-btn" data-bs-toggle="modal" data-bs-target="#del-user-modal">
                                                        Delete
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- Update modal -->
<div class="modal fade" id="upd-user-modal" aria-labelledby="upd-user-modal-label"
     data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="upd-user-modal-label">Edit user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form id="upd-form" th:method="POST" th:action="@{/admin/update-user}" th:object="${user}">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center fw-bold">
                            <input type="hidden" id="has-errors" th:value="${#fields.hasErrors('*')}">
                            <div class="form-group mb-3">
                                <label for="id-upd" class="form-label">ID</label>
                                <input type="text" class="form-control" id="id-upd"  th:field="*{id}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="first-name-upd" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="first-name-upd" th:field="*{firstName}">
                                <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</div>
                            </div>
                            <div class="mb-3">
                                <label for="last-name-upd" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="last-name-upd" th:field="*{lastName}">
                                <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</div>
                            </div>
                            <div class="mb-3">
                                <label for="age-upd" class="form-label">Age</label>
                                <input type="number" class="form-control" id="age-upd" th:field="*{age}"
                                       min="0" max="200" step="1">
                                <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
                            </div>
                            <div class="mb-3">
                                <label for="email-upd" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email-upd" th:field="*{email}">
                                <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                            </div>
                            <div class="mb-3">
                                <label for="password-upd" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password-upd" th:field="*{password}">
                                <input type="hidden" id="password-upd-val" th:if="${#fields.hasErrors('*')}" th:value="*{password}">
                                <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
                            </div>
                            <div class="mb-3">
                                <label for="roles-upd" class="form-label">Roles</label>
                                <select class="form-select" id="roles-upd" multiple="multiple" th:field="*{roles}">
                                    <option th:each="role : ${roles}"
                                            th:value="${role.id}"
                                            th:text="${#strings.startsWith(role.getName(), 'ROLE_') ? #strings.substring(role.getName(), 5)
                                                                                                            : role.getName()}"
                                    >
                                        Role
                                    </option>
                                </select>
                                <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Roles error</div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="upd-form">Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete modal -->
<div class="modal fade" id="del-user-modal" aria-labelledby="del-user-modal-label"
     data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="del-user-modal-label">Edit user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="del-form" th:method="POST" th:action="@{/admin/remove-user}" th:object="${user}">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center fw-bold">
                            <div class="form-group mb-3">
                                <label for="id-del" class="form-label">ID</label>
                                <input type="text" class="form-control" id="id-del" th:field="*{id}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="first-name-del" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="first-name-del" th:field="*{firstName}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="last-name-del" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="last-name-del" th:field="*{lastName}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="age-del" class="form-label">Age</label>
                                <input type="number" class="form-control" id="age-del" th:field="*{age}"
                                       min="0" max="200" step="1" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="email-del" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email-del" th:field="*{email}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="roles-del" class="form-label">Roles</label>
                                <select class="form-select" id="roles-del" multiple="multiple" th:field="*{roles}" readonly>
                                    <option th:each="role : ${roles}"
                                            th:value="${role.id}"
                                            th:text="${#strings.startsWith(role.getName(), 'ROLE_') ? #strings.substring(role.getName(), 5)
                                                                                                            : role.getName()}"
                                    >
                                        Role
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" form="del-form">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/updateModal.js}"></script>
<script th:src="@{/deleteModal.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="http://localhost:35729/livereload.js"></script>

</body>
</html>