<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>

<body>

<h2>Delete user</h2>
<br>

<label for="id-span">ID:</label>
<span id="id-span" th:text="${user.id}">User ID</span>
<br><br>

<label for="first-name-span">First name:</label>
<span id="first-name-span" th:text="${user.firstName}">First name</span>
<br><br>

<label for="last-name-span">Last name:</label>
<span id="last-name-span" th:text="${user.lastName}">Last name</span>
<br><br>

<label for="age-span">Age:</label>
<span id="age-span" th:text="${user.age}">Age</span>
    <br><br>

<label for="email-span">Email:</label>
<span id="email-span" th:text="${user.email}"></span>
<br><br>

<label for="roles-span">Roles:</label>
<span id="roles-span" th:each="role : ${user.roles}">
    <span th:text="${#strings.startsWith(role.name, 'ROLE_') ? #strings.substring(role.name, 5)
                                                             : role.name}">
        Role
    </span>
</span>
<br><br>

<input type="button" value="Remove"
       th:attr="onclick=|window.location.href='@{/admin/remove-user(id=${user.id})}'|"/>

<div th:replace="fragments/general.html :: cancel-adm-op-button"></div>
<br><br>

<div th:replace="fragments/general.html :: logout-button"></div>

</body>

</html>