<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>

<body>

<h2>Edit user</h2>
<br>

<form th:method="POST" th:action="@{/admin/update-user}" th:object="${user}">

    <input type="hidden" id="id" name="id" th:field="*{id}">

    <label for="id-span">ID:</label>
    <span id="id-span" th:text="*{id}">User ID</span>
    <br><br>

    <label for="first-name">First name:</label>
    <input type="text" id="first-name" th:field="*{firstName}">
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</div>
    <br><br>

    <label for="last-name">Last name:</label>
    <input type="text" id="last-name" th:field="*{lastName}">
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</div>
    <br><br>

    <label for="age">Age:</label>
    <input type="number" id="age" min="0" max="200" th:field="*{age}">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br><br>

    <label for="email">Email:</label>
    <input type="text" id="email" th:field="*{email}">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br><br>

    <label for="roles">Roles:</label>
    <select name="roles" id="roles" multiple="multiple" th:field="*{roles}">
        <option th:each="role : ${roles}" th:value="${role.id}"
                th:text="${#strings.startsWith(role.getName(), 'ROLE_') ? #strings.substring(role.getName(), 5)
                                                                        : role.getName()}"
                th:selected="${user.roles.contains(role)}">

            Role
        </option>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Roles error</div>
    <br><br>

    <input type="submit" value="Update"/>

    <div th:replace="fragments/general.html :: cancel-adm-op-button"></div>

</form>
<br>

<div th:replace="fragments/general.html :: logout-button"></div>

</body>

</html>